html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.navDiv {
    display: flex;
    background-color: rgb(29, 77, 25, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.navBar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: auto;
}

.link {
    float: left;
    color: white;
    text-align: center;
    padding: 1rem 5vw;
    text-decoration: none;
}

.link :visited {
    color: inherit;
}

.link :hover {
    font-style: italic;
    font-weight: bolder;
    background-color: hsl(116, 50%, 30%);
    padding: 1rem 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 24%;
    max-width: 25vw;
    padding: 0 .5%;
  }
  
  .column img {
    margin-top: .3rem;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
    height: 17vh;
  }

.homeRight {
    color: white;
    display: grid;
    margin: auto;
    
    font-family: serif;
    font-style: italic;
    width: 100%;

}

.homeRightChild {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}


.mainParent {
    display: block;
}

.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
}

.mainChild {
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.parentMainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
}

.mainGrid {
    width: 100%
}

.grid {
    display: grid;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-row-gap: 1vh;
    grid-column-gap: 2vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.gridChild {
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(29, 77, 25, 0.5);
    padding: 3vh;
    border-radius: 10%;
    border: rgb(255, 215, 0, 0.5);
    border-style: solid;
    height: 20rem;
    position: relative;
}

.plantImage {
    max-width: 15rem;
    max-height: 10rem;
    align-items: center;
    border-radius: 10%;
    border: rgb(255, 215, 0, 0.5);
    border-style: dotted;
}

.largePlantImage {
    max-width: 30rem;
    max-height: 30rem;
    align-items: center;
    border-radius: 10%;
    border: rgb(255, 215, 0, 0.5);
    border-style: dotted;
}

.centeredParent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.centeredParent label {
    text-align: center;
}


.aboutChild {
    text-align: center;
    max-width: 50rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.aboutImage {
    padding: 10vh 0vw;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 12vh;
    animation: rotation 10s infinite linear
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.formChild {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 80vw;
    min-width: 50vw;
    font-size: larger;    
}

.long {
    resize: both;
    box-sizing: content-box;
    height: 15vh;
}

.button {
  background-color: rgb(29, 77, 25, 0.5);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 1rem;
  color: #fff;
  font-size: larger;
  text-align: center;
  min-width: 20vw;
}


.button:hover {
    background-color: rgb(29, 77, 25);
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.delete {
    background-color: rgb(29, 77, 25, 0.5);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 1rem;
    color: #fff;
    font-size: larger;
    bottom: 0;
    right: 1rem;
    position: absolute;
}

.info {
    background-color: rgb(29, 77, 25, 0.5);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 1rem;
    color: #fff;
    font-size: larger;
    bottom: 0;
    left: 1rem;
    position: absolute;
    text-decoration: none;
}

.delete:hover {
    background-color: hsl(0, 93%, 46%);
}

.info:hover {
    background-color: hsl(129, 76%, 38%);
}

.error {
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    text-align: center;
}